
body { transition: margin-top .2s linear; }
.body-margin-top { margin-top: 35px; }

/* Légère transition sur les FontAwesome */
.fa { transition: all 0.3s; }

.acolor { color: #75898c; }

#admin-bar {		
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	background-color: rgba(240, 240, 240, 0.8);	
	box-sizing: padding-box;	

	text-shadow: none;
	color: #000000;
	font-family: Arial;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;

	transition: background-color .3s linear;
	animation: slide-down .3s 1 ease-out;
}
	@keyframes slide-down {
	    0% { transform: translate3d(0, -100%, 0); }
	    100% { transform: translateY(0, 0, 0); }
	}

	#admin-bar:hover { background-color: rgba(240, 240, 240, 0.95); }

	#admin-bar h3 { font-family: arial; }

	#admin-bar #list-content i {
		cursor: pointer;

		color: #75898c;

		/* background: #75898c;
		color: #fff;
		border-radius: 100%;
		width: 22px;
		height: 22px;
		line-height: 22px; */
	}
		#admin-bar #list-content i:hover { color: #6b6f7a; }

	#admin-bar #user i { color: #75898c; cursor: pointer; }
		#admin-bar #user i:hover { color: #6b6f7a; }
		#admin-bar #user .absolute { position: absolute; }
		#admin-bar #user .absolute .load { min-width: 298px; }
		#admin-bar #user .absolute i { color: #75898c; transition: color .3s; }
		#admin-bar #user .absolute i:hover { color: #6b6f7a; }
		#admin-bar #user .absolute li { 
			background-color: #ffffff;
			cursor: pointer;
			transition: background-color .2s linear;
		}
			#admin-bar #user .absolute li:nth-child(odd) { background-color: #eaecec; }
			#admin-bar #user .absolute li.next {
				background-color: #dbdfe0;
				box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
				border-radius: 0 0 3px 3px;
				text-align: center;
			}
			#admin-bar #user .absolute li:hover { background-color: #d8caa9;
			}


	#admin-bar input { padding: initial; }
	#admin-bar input, .tooltip input, .ui-dialog input {			
		background-color: transparent;
		color: #516062;
		border: none !important;
		border-bottom: 1px dotted #9cabad !important;
		font-family: Arial;
		box-shadow: none;
		border-radius: 0;
		height: auto;
	}


	/* title */
	#admin-bar #meta-responsive { color: #75898c; cursor: pointer; }

	/* description */
	#admin-bar #meta > div {
		display: none; 
		position: absolute;
	}
	#admin-bar #meta:not(.nofire):hover > div { display: block; }


	#admin-bar #close {
		color: rgba(0, 0, 0, 0.2);
		cursor: pointer;
		transition: color .3s linear;
	}
	#admin-bar #close:hover { color: #9E1E1E; }


	#admin-bar select {
		background: transparent;
		border: none;
	}


	#admin-bar button, .tooltip button {	
		/* box-shadow: inset 0px 1px 3px 0px #91b3b8; */
		background-color: #75898c;
		border-radius: 5px;
		border: 0px solid #6b6f7a;		
		display: inline-block;		
		padding: 2px 8px;
		height: auto;
		cursor: pointer;
		color: #ffffff;
		font-family: Arial;
		font-weight: bold;
		text-decoration: none;
		/* text-shadow: 0px -1px 0px #2c5f66; */
		transition: background-color .3s;
	}
		#admin-bar button:hover, .tooltip button:hover { background-color: #6b6f7a; }
		#admin-bar button:active, .tooltip button:active {
			position: relative;
			top: 1px;
		}

		button.to-save { 
			background-color: #9E1E1E !important;
			color: white;
		}

		button.saved { background-color: #8dad33 !important; }/*#1BA238*/


	/* Bouton d'activation en slide/switch */
	/* Fond */
	#admin-bar .switch label {
		background: #9E1E1E;
		box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, .1);
		
		position: relative;
		display: inline-block;

		width: 38px;
		height: 16px;
		margin: 0;
		border-radius: 5px;
		line-height: 15px;

		vertical-align: text-bottom;

		font-style: normal;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .1);

		cursor: pointer;

		transition: all .3s ease-in;		
	}	
		/* Croix du désactivé */
		#admin-bar .switch label:before {
			font-family: FontAwesome;
			content: "\f070";/* Off f00d */
			margin-left: 18px;
			transition: all .2s ease;
		}

		/* Couleur de fond si activé */
		#admin-bar .switch input[type=checkbox]:checked ~ label{
			background: #8dad33;
		}
			/* Activé */
			#admin-bar .switch input[type=checkbox]:checked ~ label:before {
				font-family: FontAwesome;
				content: "\f06e";/* On f00c */
				margin-left: 6px;
			}
			/* Calage du bouton si activé */
			#admin-bar .switch input[type=checkbox]:checked ~ label i {
				right: -4px;
			}

		/* Bouton */
		#admin-bar .switch label i {
			background: #ffffff;
			box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);

			position: absolute;
			display: block;

			top: -2px;
			right: 25px;
			width: 18px;
			height: 18px;
			border-radius: 18px;

			transition: all .2s ease;
		}
			/* Interieur du bouton */
			#admin-bar .switch label i:before {
				background: #efefef;
				box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);

				content: "";
				display: block;
				position: absolute;

				top: 50%;
				left: 50%;

				width: 10px;
				height: 10px;
				margin: -5px 0 0 -5px;

				border-radius: 18px;
			}

			/* Hover du bouton */
			#admin-bar .switch label:hover i {
				box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.3);
			}
			/* On click sur le bouton */
			#admin-bar .switch label:active i:before {
				box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
			}


/* Layer tooltip */
.tooltip, .ui-autocomplete { 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	background-color: rgba(245, 245, 245, 0.95) !important;
	border-radius: 5px;
	overflow: hidden;
}
	.tooltip label { margin-top: 0;	}

	.ui-autocomplete li { font-size: .9em; }


/* Taille max pour l'affichage de l'image de partage */
#admin-bar #og-image img {
	max-width: 320px;
	max-height: 320px;
}


/* HEADER */
header { 
	z-index: 10;
	position: relative;
}


/* Menu de navigation */
header nav ul { position: relative; }
	header nav .tooltip ul { 
		background-color: transparent;
		box-shadow: none;
	}
	header nav li { 
		position: relative;
		white-space: nowrap;
	}

	header nav .burger.active + ul {
		padding-top: 4.5rem;/* Pour que le menu en responsive soit bien en dessous de l'admin bar */
	}


header:hover .dragger { display: block; }
.dragger {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAAC/v79T5hyIAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjaGBgAAABhACBKN161wAAAABJRU5ErkJggg==') repeat;

	position: absolute;

	width: 100%;
	height: 8px;

	top: -10px;
	
	left: 0;
	/*margin-left: -0.5rem;*/

	cursor: move;

	display: none;
}


/* Menu d'ajout/supp au menu */
#add-nav {
	position: fixed;

	right: 1rem;/* -3rem @todo voir si ça ne crée pas de bug*/
    /* margin-left -6rem */

	display: none;
		
	opacity: 0.8;	

	z-index: 10;/*-1*/

	font-family: arial;
}
	#add-nav:hover { opacity: 1 !important; }

	#add-nav .tooltip { min-width: 210px; }

	#add-nav ul { 
		border: none;
		float: none;
	}
	#add-nav li {
		background-color: #fff;
		
		display: block;
		position: relative;
		float: none;
		
		margin: 0.5rem 0 0;
		padding: 0 0.5rem;

		cursor: move;
		
		border-radius: 5px;
		border: 0;
	}
	#add-nav li a { 
		color: #000 !important;
		cursor: move;
		padding: 0;
		margin: 0;

		font-size: initial;
		font-weight: initial;
		text-transform: initial;
	}
		#add-nav li a:after { display: none; }
		
	#add-nav .dragger {
		background: none;

		width: 10px;
		height: 12px;

		display: block;

		left: -13px;
		top: 0px;

		cursor: pointer;
	}
		#add-nav .dragger:before {
			content: "\f055";
			font-family: FontAwesome;
		}

	#add-nav .zone {	
		background-color: rgba(245, 245, 245, 0.95);
		border: 2px dashed;
		border-radius: 100%;
		
		border-color: #7ad2d9;		

		display: inline-block;
		
		margin: 1rem 0 0;
		padding: 2px;

		cursor: pointer;

		transition: all .3s;
	}
		
	#add-nav.open {	
		margin: 0;
	}
	#add-nav.open .zone {	
		border-radius: 30px 30px 0 0;
		border-bottom: none;
		padding: 5px 10px 5px;
	}

	#add-nav.del .zone {	
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) inset;
		border-color: #df7578;
	}
	#add-nav.del ul {
		/* padding-top: 55px;
		margin-top: -55px; */
	}
	


/* CONTENT */

/* block éditable */

article { /*width: 100%;*/ }/* pour que le bloc éditable prenne bien toute la largeur */

.lucide .editable, .lucide [contenteditable=true], a[name] {
	border-bottom: 1px dotted rgba(61, 128, 179, 0.2) !important;
	outline: none;/* supp le bord bleu de sélection chrome */

	/*display: initial;inline-block*//* SUPP ?? doublon avec la valeur dans global css */
	/*width: inherit;*//* en lien avec w article 100% */
}
	.lucide .editable:hover, .lucide [contenteditable=true]:hover {
		border-bottom: 1px dotted rgba(61, 128, 179, 1) !important;
	}

	[contenteditable=true]:empty:before { 
		content: attr(id);
		opacity: .6;
	}
	[contenteditable=true][placeholder]:empty:before { 
		content: attr(placeholder); 
		opacity: .6;
	}

	.editable .ui-wrapper {		
		overflow: inherit !important;
		box-shadow: 0 0 0 1px #d8e6f0 inset;
	}
	.editable img {	cursor: default; }


/* On se met en mode pour voir le code source */
.view-source {
	text-align: left;
	white-space: pre-wrap;
}


/* image & fichier éditable */
.lucide .editable-media {
	background-color: rgba(61, 128, 179, 0.05);
	display: inline-block;
    position: relative;
	overflow: hidden;
	vertical-align: middle;

	min-width: 45px;
	min-height: 30px;
	border: 1px dotted rgba(61, 128, 179, 0.2);
}
	.lucide .editable-media img { 
		margin: -1px;
		transition: none !important;/* Plus stable pour les drag&drop */
	}
	
	.drag-zone { border: 2px dashed #75df83 !important; }
	.drag-over { border: 2px dashed #7AD2D9 !important; cursor: pointer; }
	img.drag-elem { margin: -2px !important; }
	/* @todo: problème décalage sur les grandes images au hover */

	.open-dialog-media {
		position: absolute;
		top: 0;
		padding-top: 5px;
		width: 100%;

		z-index: 1;

		color: #7AD2D9;		
		font-size: 0.8em;
		font-family: sans-serif;
		text-align: center;
		text-shadow: 1px 1px 0px #ffffff;

		display: none;
	}



/* Image éditable en bg & Bouton Module */
.editable-bg {
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAQMAAAC2MCouAAAABlBMVEX29vbu7u4m5kP6AAAAAnRSTlPMzIMO2+EAAABPSURBVAjXxc2xEYAwDMVQcRSUjMAoGS2MxigZIWWKXIw1ADXt1zubY1IfzkHcXH0LKG1f5JglxyyEhWVhWhgW5BfygrwiD74OyTvy9tffFyMcWadHur+/AAAAAElFTkSuQmCC') repeat scroll 0 0;
	
	position: relative;
	transition: background .3s, box-shadow .3s;
}
	.editable-bg:hover { box-shadow: 0 0 20px rgba(0, 0, 0, 0.05) inset; }

	.editable-bg > .bg-tool, .module-bt a {
		display: none;
		position: absolute;
		z-index: 8;
		top: 0;
		right: 0;
		line-height: 30px;
		font-size: initial;
	}
	.editable-bg > .bg-tool .open-dialog-media, .module-bt a {
		box-shadow: none;/*inset 0px 1px 3px 0px #91b3b8*/
		background-color: #75898c;/*rgba(117, 137, 140, .6)*/
		border-radius: 5px;
		/* border: 1px solid #909090; */	

		color: #fff;/*#7AD2D9*/
		font-size: inherit;
		font-family: sans-serif;
		text-shadow: none;/*1px 1px 1px #2c5f66*/
		text-decoration: none;

		opacity: .6;
		
		width: initial; /* inherit */
		padding: 0 6px;
		margin: 10px 10px 10px 0px;

		transition: opacity .3s, background .2s;
	}
	.editable-bg > .bg-tool .open-dialog-media { 
		position: relative;
		display: inline-block !important;
	}
	.editable-bg > .bg-tool .open-dialog-media:hover,
	.editable-bg > .bg-tool .clear-bg:hover,
	.module-bt a:hover {
		/* background-color: rgba(117, 137, 140, 1); */
		opacity: 1;
		color: #7AD2D9;	
	}
		.under-header.editable-bg > .bg-tool .open-dialog-media, .fullpage.editable-bg > .bg-tool .open-dialog-media {/* cas ou on place le bt en bas de la zone bg */
			top: initial;
			bottom: 10px;
		}

	.editable-bg > .bg-tool .clear-bg {		
		color: #75898c;	
		font-size: 1.5em;
		vertical-align: sub;

		margin: 0 12px 0 0;

		opacity: .6;
		transition: all .3s; 
	}


/* TAG */
.tag-container {
	display: inline-block;
}
	.layer-tag {
		z-index: 100;
	}


/* Module */

.module { min-height: 55px; }
	.module li { position: relative; }

.module-bt {
	position: absolute;	
	top: 0;
    right: 0;
}
	.module-bt a { 
		position: relative;
		display: inline-block;
	}
	.module .ui-sortable-handle { 
		box-shadow: rgba(122, 210, 217, 0.5) 0px 0px 20px 2px !important;
		cursor:  move;
	}


/* Hidden éditable & Href éditable */
.editable-input, .editable-href, .editable-select.none {	
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAQMAAAC2MCouAAAABlBMVEX29vbu7u4m5kP6AAAAAnRSTlPMzIMO2+EAAABPSURBVAjXxc2xEYAwDMVQcRSUjMAoGS2MxigZIWWKXIw1ADXt1zubY1IfzkHcXH0LKG1f5JglxyyEhWVhWhgW5BfygrwiD74OyTvy9tffFyMcWadHur+/AAAAAElFTkSuQmCC') repeat scroll 0 0;
	border-style: dotted;
}

/* Href éditable */
[data-href] {	
	position: relative;
    display: inline-block;
}
	.editable-href {	
		position: absolute;
		text-align: center;		
		font-size: initial;
		font-family: Arial;
		width: 100%;
		display: block;
		opacity:  0;
	}



/* Fenêtre de gestion des médias */
.ui-dialog { text-shadow: none !important; }

.ui-dialog #recherche-media {/* Position du moteur de recherche de média */
	position: absolute;
    right: 0px;
    z-index: 1;
}

.dialog-media li { 
	background: #eee none repeat scroll 0 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
	
	position: relative;

	overflow: hidden;

	float: left;

	width: 130px;
	min-height: 110px;

	line-height: 100px;

	cursor: pointer;	
	
	transition: background .2s;
}	
	.dialog-media li .file {
		vertical-align: middle;
		overflow: auto;
		display: inline-block;
		overflow: hidden;
		line-height: 2;
		max-height: 100px;		    
		max-width: 120px;
	}
		.dialog-media li .file i {
			padding-bottom: 0.5rem;
		}

	.dialog-media li img {
		max-width: 120px;
		max-height: 96px;
		vertical-align: middle;
		transition: opacity .5s;
	}
	
	.dialog-media li .infos { 
		box-shadow: inset 0px -22px 10px -10px #fff;/*0 0 0 1px rgba(0, 0, 0, 0.15) inset*/

		bottom: 0;
		left: 0;
		right: 0;	
		
		line-height: 16px;

		margin: 1px;

		position: absolute;			
		display: none;

		animation: fade-in .2s;
	}
		@keyframes fade-in {
			0% { opacity: 0; }
			100% { opacity: 1; }
		}


	.dialog-media li .resize, .dialog-media li .supp { 
		line-height: 18px;

		position: absolute;			
		display: none;
		opacity: 0.5;

		z-index: 1;
	}
		.dialog-media li .resize:hover, .dialog-media li .supp:hover { opacity: 1; }

	.dialog-media li .resize { 
		bottom: -1px;
		left: 2px;
	}
		
	.dialog-media li .supp { 
		bottom: -1px;
		right: 2px;
	}

	.dialog-media li.add-media {
		background: #f5f5f5;
		border: 2px dashed #7AD2D9;
		border-radius: 5px;
		line-height: inherit;
		height: 110px;
	}
		.dialog-media li.add-media.dragover { 
			background: rgba(117, 223, 131, 0.4);
			border: 2px dashed #75df83;
		}

	.dialog-media li:hover, .dialog-media li.select { background: #fff; }
	
	.dialog-media li:hover > .infos, .dialog-media li:hover > .supp, .dialog-media li:hover > .resize { display: block; }

	/* Image à moitié transparante */
	.to50 {
		opacity: 0.5;
		animation: fade-50 .5s 1;
	}
		@keyframes fade-50 {
			0% { opacity: 0; }
			100% { opacity: 0.5; }
		}


	/* Onglet JQuery UI */
	.ui-tabs { padding: 0 !important; }

		.ui-tabs .ui-dialog-title {
			margin: 0;
			padding: 0;
			width: 100%;
		}

		.ui-tabs .ui-tabs-nav {
			border-bottom: 1px solid #aaaaaa;
			padding: .5em 1em 0 .8em !important;
		}
			.ui-tabs .ui-tabs-nav li { box-shadow: inset 0 -10px 15px -14px #000; }

		.ui-tabs .ui-tabs-panel { padding: 0.5rem; }

		.ui-tabs .ui-state-active { background: #f1f4f7; }
			.ui-tabs li.ui-state-active { box-shadow: none; }

	/* Icone Upload */
	
	.uploading:before {
		font-family: FontAwesome;
		font-size: 4rem;
		color: rgba(0, 0, 0, 0.1);

		content: "\f1ce";

		animation: fa-spin 2s infinite linear;

		display: block;
		position: absolute;
		width: 120px;
	}
	.uploaded:before {
		font-family: FontAwesome;
		font-size: 5rem;
		color: #5eba7d;

		content: "\f05d";

		animation: fade-in-out 1s ease forwards;

		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

		display: block;
		position: absolute;
		width: 100%;/*120px*/
		height: 100%;
	}
		@keyframes fade-in-out {
			0%,100% { opacity: 0; }
			50% { opacity: 1; }
		}


/* Fenêtre de gestion des icônes */
.dialog-icon li i { cursor: pointer; }
	.dialog-icon li i:hover { color: #6b6f7a; }

/* Fenêtre de suppression */
.dialog-del li { 
	display: inline-block;
	margin: 1.5rem 1rem 0 1rem;
}
	.dialog-del li label { margin: 0; }
	.dialog-del li img { 
		max-width: 32px;
		max-height: 32px;
	}


/* Hack Jquery UI style */
.ui-widget-header {
	background: #f5f5f5;
	border: none;
	font-weight: normal;	
}
.ui-widget-content {
	background: rgba(241, 244, 247, 0.8) none repeat scroll 0 0;
    border: none !important; /* 1px solid rgba(220, 220, 220, 0.8) */
	transition: background .2s;
}
	.ui-widget-content:hover {
		background: rgba(241, 244, 247, 0.9) none repeat scroll 0 0;
	}
.ui-effects-transfer {
    border: 4px dashed #7AD2D9;
	background: rgba(122, 210, 217, 0.2);
}


/* Style lors du dragover */
.body-dragover { 
	box-shadow: 0 0 15px rgba(0, 0, 0, 1) inset;
}


/* Style et initialisation de la toolbox */
.toolbox {	
	border-radius: 4px;

	list-style: none;

	font-family: Arial;

	padding: 0;	
	margin: 0;

	/*height: 24px; SUPP ?*/

	position: absolute;
	display: none;

	opacity: 0.8;
	z-index: 11;

	animation: fadeInToolbox .3s ease-in;
	transition: all .24s ease-in-out;
}
	@keyframes fadeInToolbox {
		0% { opacity: 0; }
		100% { opacity: 0.8; }
	}

	.toolbox li {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
		float: left;		
	}
	.toolbox button {
		background: #fff linear-gradient(#ffffff, #eaeaea) repeat scroll 0 0;
		box-shadow: 0 0 0 1px #fff inset;

		box-sizing: border-box;

		border: 1px solid #d3d3d3;
		border-radius: inherit;

		cursor: pointer;

		/*vertical-align: bottom; SUPP ?*/

		height: 24px;
		min-width: 24px;

		margin: 0 0 0 -1px;			    
		padding: 0.3rem;

		color: #545454;

		font-size: 1.2rem;
		font-family: inherit;
	}
		.toolbox button:hover {
			background: #E5F6F1 linear-gradient(#e5f6f1, #6fcdd5) repeat scroll 0 0;
			box-shadow: 0 0 0 1px #e5f6f1 inset;
		}
		.toolbox button:focus {
			background: #6fcdd5 linear-gradient(#6fcdd5, #e5f6f1) repeat scroll 0 0;
			box-shadow: 0 0 0 1px #6fcdd5 inset;
		}
		.toolbox li:first-child, .toolbox li:last-child button {
			border-radius: 4px 0 0 4px;
		}
		.toolbox li:last-child, .toolbox li:last-child button {
			border-radius: 0 4px 4px 0;
		}
		.toolbox button .minus {
			font-size: 0.6em;
			margin-left: -2px;
			vertical-align: top;
		}


	.toolbox:hover {
		opacity: 1;
	}
	/* Fleche sous la toolbox */
	.toolbox:after {
		border: 6px solid transparent;
		border-top-color: #d3d3d3;
		content: ' ';
		position: absolute;
		margin-left: -7px;
		bottom: -12px;
		left: 12px;/*50%*/
		height: 0px;
		width: 0px;
	}
	/* Fleche au dessu de la toolbox */
	.toolbox.under:after { 
		border-bottom-color: #d4d4d4;
		border-top-color: transparent;
		top: -12px;
	}

	.toolbox .option {
		background-color: #eaeaea;
		height: 100%;
		display: none;
	}
		.toolbox .option input {
			color: #516062;
			height: 100%;			
			border-radius: 0;
			padding: 0.33em 0.5rem 0.4rem;
		}
	
	.toolbox#resize-tool {
		background-color: #eaeaea;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
		padding: 0.2rem;
	}
		.toolbox#resize-tool input {
			height: 22px;
		}

	/*couleur icone */
	.toolbox .fa-picture-o { color: #56aead; }
	.toolbox .fa-link { color: #b64e4e; }


.clear-file {
	background: grey;

	color: #fff !important;
	font-size: 0.8em;
	font-family: sans-serif;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1.6rem;

    border-radius: 0 5px 0 0;
	
	display: none;
	opacity: .5;

    position: absolute;
	bottom: 0;
    left: 0;    
    
    z-index: 1;

    padding: 0 0.4rem;

    transition: all .3s;
}
	.clear-file:hover { opacity: 1; }


#unlink { color: #9E1E1E; }


/* Couleur de sélection de textes */
*::-moz-selection {/* @TODO FAIRE FONCTIONNER */
    background: #6FCDD5;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}


/*header:hover { box-shadow: 0 0 0 2px rgba(122, 210, 217, 0.7) inset; }
footer:hover { box-shadow: 0 0 0 2px rgba(122, 210, 217, 0.7) inset; }*/


/* 768px => tablette 1280x800 */

@media screen and (max-width: 650px) 
{
	.ui-tabs-nav span {
		display: none;
	}

	.ui-widget-content {
		width: 98% !important;
	}
}